<form class="form">
  <label>Edit</label>
  <div class="form-group">
    <label for=""></label>
    <input type="text" name="university[name]" class="form-control" value="{{university.name}}"
    ng-model="university.name">
  </div>
  <div ng-controller="dateController as date">
    <div class="row">
      <div class="col-md-6">
        <p class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup ng-model="university.start_date" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>
      <div class="col-md-6">
        <p class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup ng-model="university.end_date" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>
    </div>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="optionsRadios" id="optionsRadios1" value="Bachelor"
        ng-model="university.degree">
      Bachelor
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="optionsRadios" id="optionsRadios1" value="Specialist"
      ng-model="university.degree">
      Specialist
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="optionsRadios" id="optionsRadios1" value="Master"
      ng-model="university.degree">
      Master
    </label>
  </div>
  <button ng-click="main.update(university.id,university)" class="btn btn-success">
    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    Save changes
  </button>
  <button ng-click="main.edit(uni.id)" class="btn btn-warning">
    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    Cancel
  </button>
</form>
