<form class="form" ng-submit="main.create(main.university)">
  <label>Add new record</label>
  <div class="form-group">
    <label for=""></label>
    <input type="text" name="name" class="form-control" ng-model="main.university.name" ng-required="true">
  </div>
  <div ng-controller="dateController as date">
    <div class="row">
      <div class="col-md-6">
        <p class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup ng-model="main.university.start_date" is-open="date.popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="date.open1()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>
      <div class="col-md-6">
        <p class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup ng-model="main.university.end_date" is-open="date.popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="date.open2()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>
    </div>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="optionsRadios" id="optionsRadios1" value="Bachelor"
        ng-model="main.university.degree" ng-required="!main.university.degree">
      Bachelor
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="optionsRadios" id="optionsRadios1" value="Specialist"
      ng-model="main.university.degree" ng-required="!main.university.degree">
      Specialist
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="optionsRadios" id="optionsRadios1" value="Master"
      ng-model="main.university.degree" ng-required="!main.university.degree">
      Master
    </label>
  </div>
  <button class="btn btn-success" type="submit">
    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    Save changes
  </button>
  <button ng-click="main.new()" class="btn btn-warning" type="reset">
    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    Cancel
  </button>
</form>