<div class="modal-header">
    <h3 class="modal-title">Are you sure want to delete this record?</h3>
</div>
<div class=university-container>
  <div class="university-dates">
    <div class="university-date">
      From:
      <span class="university-start">{{ m.uni.start_date }}</span>
    </div>
    <div class="university-date">
      To:
      <span class="university-end">{{ m.uni.end_date }}</span>
    </div>
  </div>
  <div class="university-content">
    <span class="university-title">
      {{ m.uni.name }}
    </span>
    <span class="university-degree">
      {{ m.uni.degree }}
    </span>
  </div>
</div>
<div class="clear"></div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="m.ok()">
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      Delete
    </button>
    <button class="btn btn-info" type="button" ng-click="m.cancel()">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      Cancel
    </button>
</div>
