<!DOCTYPE html>
<html>
  <head>
    <title>TestApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body ng-app="test-app" ng-controller="MainController as main">
    <div class="nav">
      <div class="logo"><span>Higher education</span></div>
      <div class="new" ng-click="main.new()">
        <span>New record</span>
      </div>
    </div>
    <div class="container">
      <my-form ng-if="main.show" type="main.type" on-update="main.addRecord(data)"
        on-cancel="main.cancel()"></my-form>
      <div ng-repeat="uni in main.unis" class="feed">
        <university-record uni="uni" opened="main.opened"></university-record>
      </div>
    </div>
  </body>
</html>
