<!DOCTYPE html>
<html>
  <head>
    <title>TestApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body ng-app="test-app">
    <div ng-controller="MainController as main">
      <button ng-click="main.new()">Create</button>
      <div ng-include='"code/templates/formNew.html"' ng-show="main.show"></div>
      <div ng-show=success>
        la-la-la
      </div>
      <div ng-repeat="uni in unis">
        <div class=university-container>
          <div class="university-buttons">
            <button ng-click="main.edit(uni.id)">Edit</button>
            <div ng-controller="ModalController as modal">
              <button ng-click="open(uni,main.delete)">Destroy</button>
            </div>
          </div>
          <div class="university-dates">
            <span class="university-start">{{ uni.start_date }}</span>
            <span class="university-end">{{ uni.end_date }}</span>
          </div>
          <div class="university-content">
            <span class="university-title">
              {{ uni.name }}
            </span>
            <span class="university-degree">
              {{ uni.degree }}
            </span>
          </div>
        </div>
        <div class="clear"></div>
        <div ng-include='"code/templates/formEdit.html"' ng-show="uni.show"></div>
      </div>
      <%#= yield %>
    </div>
  </body>
</html>
